<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javaoffers.base.db.router.sample.mapper.NoneRouterMapper">

    <!-- base数据库-->
    <select id="defaultRouter" resultType="map">
        select * from test limit 1;
    </select>




</mapper>