<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javaoffers.base.db.router.sample.mapper.RouterMapper">
    <insert id="defaultWrite">
      insert into test (value) values('1')
    </insert>
    <!-- fit 数据库-->
    <select id="uniqueFitRouter" resultType="map">
        select * from fit_user limit 1;
    </select>

    <!-- fit 数据库-->
    <select id="saveFitData" resultType="map">
        insert into  fit_user (name )values (#{name})
    </select>

    <!-- fit 数据库-->
    <select id="queryFitData" resultType="map">
        select * from fit_user
    </select>

    <!-- base数据库-->
    <select id="defaultRouter" resultType="map">
        select * from test limit 1;
    </select>

    <!-- exam数据库-->
    <select id="examRouter" resultType="map">
        select * from exam_data
    </select>

    <!-- exam数据库-->
    <select id="saveExamData" resultType="map">
        insert into exam_data (data) values (#{data})
    </select>


</mapper>